.bg-black {
    background-color: black;
    color: white;
}

.display-6 {
    font-size: calc(0.5em + 1vw);
}

h2 {
    text-align: center;
}

.text-roxo {
    color: rgb(187, 41, 255);
}

.bg-roxo {
    background-color:rgb(187, 41, 255);
    color: 000;
}

.active {
    font-size: 900;
    background-color: rgb(187, 41, 255);
    color: 000;
}